/* Exemplo de estilos CSS */
.queue {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #323241 ;
    height: 300vh;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px;
    width: 500px;
    height: 70px;
    border-radius: 20px;
    background-color:#201d30;
    color: azure;
    font-size: 25px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .item-id {
    font-weight: bold;
  }
  
  .item-buttons {
    display: flex;
    gap: 5px;
    /* height: 50px;
    width: 50px; */
  }

.accept-button {
    background-color: transparent;
    border-radius: 10px;
    padding: 5px;
    background-image: url('../assets/accept.png');
    background-size: 40px 40px; 
    background-repeat: no-repeat; 
    background-position: center center; 
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

.accept-button:hover {
    background-color: #c9c9c9;
}
  
.reject-button {
    background-color: transparent;
    border-radius: 10px;
    padding: 5px;
    background-image: url('../assets/reject.png');
    background-size: 40px 40px; 
    background-repeat: no-repeat; 
    background-position: center center; 
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.reject-button:hover {
    background-color: #c9c9c9;
}
.visualize-button {
    background-color: transparent;
    border-radius: 10px;
    padding: 5px;
    background-image: url('../assets/graphic.png');
    background-size: 40px 40px; 
    background-repeat: no-repeat; 
    background-position: center center; 
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Cor de fundo escura com transparência */
  z-index: 9999; /* Coloque o valor alto para garantir que o backdrop fique sobre o conteúdo */
  filter: blur(4px); /* Aplica o efeito de desfoque */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-gif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000; /* Coloque um valor ainda mais alto para garantir que o gif fique acima do backdrop */
}
